.Home{
    position: relative;
}

.Header{
    height: 72px;
    width: 100%;
    padding: 0px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D7DFE9;
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
}

.accountImageWrapper{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userProfileImage{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}